$bg-color: hsl(218, 23%, 16%);
$modal-bg-color: hsl(217, 19%, 24%);
$grayish-blue: hsl(217, 19%, 38%);
$text-color: hsl(193, 38%, 86%);
$neon-green: hsl(150, 100%, 66%);

* {
  box-sizing: border-box;
}